<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4"></div>
	  <div class="col-sm-4 social-buttons">
	    <h3 class="text-center">Example Providers</h3>
	    
	    <a class="btn btn-block btn-social btn-facebook">
	      <span class="fa fa-facebook"></span> Sign in with Facebook
	    </a>
	    <a class="btn btn-block btn-social btn-github">
	      <span class="fa fa-github"></span> Sign in with GitHub
	    </a>
	    <a class="btn btn-block btn-social btn-google">
	      <span class="fa fa-google"></span> Sign in with Google
	    </a>
	    <a class="btn btn-block btn-social btn-twitter">
	      <span class="fa fa-twitter"></span> Sign in with Twitter
	    </a>
	  </div>
		<div class="col-sm-4"></div>
	</div>
</div>